page-home {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .grid {
        padding: 0;
    }
    
    .header-div {
        height: 200px;
        width: 100%;
    }
    .header-div img {
        width: 100%;
    }
    #home-div {
        width: 100%;
        height: 100%;
    }
    .content-div {
        position: absolute;
        width: 100%;
        height: 60%;
        top: 100px;
        text-align: center !important;
    }
    .content-div .grid {
        max-height: 100%;
    }
    .content-div img {
        max-width: 100%;
        max-height: 100%;
    }
    .btn-home {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .img-responsive {
        max-width: 100%;
        max-height: 100%;
    }
    .super-large {
        height: 10em;
        padding: 1em;
    }
    .heading-content {
        background-color:#e13838;
        min-height: 50%;
    }
    .devLogo {
        padding-top: 40px;
        position: relative;
        width: 400px;
        margin-left: auto;
        margin-right: auto;

        #lb-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 64px;
        }

        #lt-img {
            position: absolute;
            top: 20px;
            left: 0;
            width: 64px;
        }

        #t-img {
            position: absolute;
            top: 3px;
            width: 64px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }

        #rb-img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 64px;
        }

        #rt-img {
            position: absolute;
            top: 20px;
            right: 0;
            width: 64px;
        }
        #rt-img::before {
            display: inline-block;
            margin: 0 0 8px 20px;
            height: 3px;
            content: " ";
            text-shadow: none;
            background-color: #fff;
            width: 140px;
        }
    }
    .devLogo img {
        width: 150px;
    }
    #menu-home {
        background-color: #f5f5f5;
        min-height: 50%;
        .grid {
            width: 55%;
            margin-top: 30px;
            text-align: -webkit-center;
        }
        .button-md {
            height: 150px;
            width: 100%;
            box-shadow: none;
            border: none;
        }
    }
    .outer-text {
        font-size: 6.5em;
        text-transform: lowercase;
        font-weight: bold;
        color: #fff;
        text-shadow: 3px 0 0 #ff0000, -3px 0 0 #ff0000, 0 3px 0 #ff0000, 0 -3px 0 #ff0000, 2px 2px #ff0000, -2px -2px 0 #ff0000, 2px -2px 0 #ff0000, -2px 2px 0 #ff0000;
    }
    
    #menu-home {
        h1 {
            font-size: 6em;
            // text-shadow: 3px 0 0 #ff0000, -3px 0 0 #ff0000, 0 3px 0 #ff0000, 0 -3px 0 #ff0000, 2px 2px #ff0000, -2px -2px 0 #ff0000, 2px -2px 0 #ff0000, -2px 2px 0 #ff0000;
        }
        h2 {
            padding-top: 20px; 
            font-size: 2em;
        }
        h2:after {
            display: inline-block;
            margin: 0 0 8px 20px;
            height: 3px;
            content: " ";
            text-shadow: none;
            background-color: #000;
            width: 140px;
        }
        h2:before {
            display: inline-block;
            margin: 0 20px 8px 0;
            height: 3px;
            content: " ";
            text-shadow: none;
            background-color: #000;
            width: 140px;
        }
    }
    #grade-div {
        display: none;
        .super-large {
            width: 250px;
            border: 2px solid;
            box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
            background: rgba($color: #2e2e2e, $alpha: 0.7);
        }
    }
    .app-names {
        h1 {
            color: #fff;
            border-bottom: 3px solid #fffb00;
            border-top: 3px solid #fffb00;
            display: inline-block;
            padding: 10px 0;
            font-size: 7rem;
        }
    }
    .button-outline-md {
        border: 3px solid #0cd808;
        background: rgba($color: #2e2e2e, $alpha: 0.7);
        box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
    }
    .posAbs {
        .button-md {
            height: 64px;
            width: 64px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .header-div {
            height: 350px;
        }
        .content-div {
            top: 150px;
        }
        .button-large {
            font-size: 3rem;
        }
    }
    @media screen and (min-width: 1024px) {
        .header-div {
            height: 400px;
        }
        .content-div {
            top: 200px;
        }
        .button-large {
            font-size: 2.5rem;
        }
    }
}