// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.no-scroll {
    overflow-y: hidden;
    .scroll-content {
        overflow: hidden;
    }
}

.warning {
    background-color: orange !important;
}

.header-md::after {
    display: none;
}

ion-header {
    .toolbar-md {
        min-height: 65px;
        padding: 0;
    }
}

.overlay {
    background: rgba(0, 0, 0, .5);
}

.radio-md {
    .radio-icon, .radio-inner {
        border-radius: 0;
    }
}

.flats {
    box-shadow: none;
}

.f5s {
    background-color: #f5f5f5;
}
.app-title {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}